  /* .project-card {
    width: 300px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
  } */


  /* Original styling idea */
  /* .projects {
    text-align: center;
  } */
  
  /* .projects-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem; */
    /* ------ 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  } */

  /* .featured-project {
    margin-bottom: 2rem;
  } */



  /* New CSS styling */
/* .projects {
  text-align: center;
  background-color: #f5f5f5;
  padding: 2rem;
}

.projects-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.featured-project {
  margin-bottom: 2rem;
  border-radius: 15px;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.swiper-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
} */



.projects {
  text-align: center;
  background-color: #222;
  padding: 2rem;
  color: #f9f9f9;
}

.projects-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 15px;
  background-color: #333;
}

.featured-project {
  margin-bottom: 2rem;
  border-radius: 15px;
  background-color: #333;
  padding: 2rem;
}

.swiper-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}